In [26]:
def red(func,lst):
  sum=lst[0]
  for i in lst[1:]:
    sum=addition(sum,i)
  return sum
def addition(x,y):
  return x+y 
print(red(addition,[1,2,3,4,5]))

15

In [34]:
marks=[20,30,33,54,97,85]
def myfilter(func,marks):
  passed=[]
  for i in marks:
    if func(i):
      passed.append(i)
  return passed
def test(a):
  if a>33:
    return True
  else:
    return False

passed=myfilter(test,marks) 

for i in passed:
  print(i)

54
97
85

In [0]:
word="ACADGILD"
list=[x for x in word]
print(list)

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [0]:
word="xyz"
list=[i*n for i in word for n in range(1,5)]
print(list)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [0]:
word="xyz"
list=[i*n for n in range(1,5) for i in word]
print(list)

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [0]:
digits=[2,3,4]
list=[[i+n] for i in digits for n in range(0,3)]
print(list)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [0]:
digits=[2,3,4,5]
list=[[i+n for i in digits] for n in range(0,4)]
print(list)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [0]:
input=[1,2,3]
list=[(b,a) for a in input for b in input ]
print(list)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [7]:
def longestword(words):
  words=sorted(words,key=len,reverse=True)
  return words[0]
words=['mariah', 'Dua','janetjackson','ladygaga','Rihanna']
print(longestword(words))

janetjackson

In [14]:
import sys
import math
a = float(input("first side:"))
b = float(input("second side:"))
c = float(input("third side:"))
class triangle():
   def __init__(self,a,b,c):
       self.a = a
       self.b = b
       self.c = c
   def area(self):
       s=(a + b + c)/2
       area=math.sqrt(s*(s-a)*(s-b)*(s-c))
       return area
print (triangle(a,b,c).area())

first side:3
second side:4
third side:5
6.0

In [21]:
def filter_long_words(words, n):
    return [word for word in words if len(word) > n]
words=['gaga','katyperry','kesha','nickiminaj']
filter_long_words(words,5)

['katyperry', 'nickiminaj']

In [50]:
words=['modi','amitshah','mayavati',"soniagandhi"]
def list_to_length(words):
    return [len(word) for word in words]
print(list_to_length(words))

[4, 8, 8, 11]

In [46]:
def is_vowel(char):
    all_vowels = 'aeiou'
    return char in all_vowels
print(is_vowel('e'))
print(is_vowel('a'))

True
True